{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智慧实验室监测系统</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <style>
        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/dashboard">智慧实验室监测系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="display: flex;justify-content: space-around;text-align: center">
    <!-- left panel -->
    <div style="width: 45%">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">控制面板</h3>
            </div>
            <div class="panel-body">
                <button name="led1" type="button" class="btn btn-primary" onclick="changeBtn01Text()">LED_1: <span
                        class="led01">关</span></button>
                <button name="led2" type="button" class="btn btn-primary" onclick="changeBtn02Text()">LED_2: <span
                        class="led02">关</span></button>
                <button name="led3" type="button" class="btn btn-primary" onclick="changeBtn03Text()">LED_3: <span
                        class="led03">关</span></button>
                <button name="ac" type="button" class="btn btn-warning" onclick="changeBtn05Text()">AC: <span
                        class="ac">关</span></button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">操作日志</h3>
            </div>
            <div id="log-table" class="panel-body">
                <!-- Table -->
                <table id="log" class="table" style="margin: auto">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- right panel-->
    <div style="width: 45%">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">仪表盘</h3>
            </div>
            <div class="panel-body">
                <div style="display: flex;justify-content: space-evenly">
                    <div>LED开启数量：{{ 2 }}</div>
                    <div>室内温度：{{ 23.3 }} ℃</div>
                    <div>室内光强：{{ 23.3 }} Lux</div>
                </div>
                <div style="display: flex;justify-content: space-evenly">
                    <div>开发板：Arduino Uno</div>
                    <div>COM2: USB-SERIAL</div>
                    <div>系统运行时间：<span class="system_runtime">0秒</span></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">温度监测（单位：℃）</h3>
            </div>
            <div class="panel-body">
                <div id="temperature" style="width: 100%;height:200px;"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">光强监测（单位：Lux）</h3>
            </div>
            <div class="panel-body">
                <div id="humidity" style="width: 100%;height:200px;"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let led1_status = 0;
    let led2_status = 0;
    let led3_status = 0;
    let ac_status = 0;
    let system_run_time = 0;

    let temperatureChart = echarts.init(document.getElementById('temperature'));
    let humidityChart = echarts.init(document.getElementById('humidity'));
    let temperatureOption;
    let humidityOption;

    function updateEChart() {
        $.ajax({
            url: "/api/echarts",
            type: "GET",
            dataType: "JSON",
            success: function (res) {
                if (res.status === 'ok') {
                    temperatureOption = res.temperature;
                    humidityOption = res.humidity;
                    temperatureChart.setOption(temperatureOption);
                    humidityChart.setOption(humidityOption);
                } else {
                    alert(res.msg);
                }
            }
        })
    }

    function changeBtn01Text() {
        $(".led01").each(function () {
            if (led1_status === 1) {
                led1_status = 0
                $(this).text("关")
            } else {
                led1_status = 1
                $(this).text("开")
            }
        })
        setDevice();
    }

    function changeBtn02Text() {
        $(".led02").each(function () {
            if (led2_status === 1) {
                led2_status = 0
                $(this).text("关")
            } else {
                led2_status = 1
                $(this).text("开")
            }
        })
        setDevice();
    }

    function changeBtn03Text() {
        $(".led03").each(function () {
            if (led3_status === 1) {
                led3_status = 0
                $(this).text("关")
            } else {
                led3_status = 1
                $(this).text("开")
            }
        })
        setDevice();
    }

    function changeBtn05Text() {
        $(".ac").each(function () {
            if (ac_status === 1) {
                ac_status = 0
                $(this).text("关")
            } else {
                ac_status = 1
                $(this).text("开")
            }
        })
        setDevice();
    }

    function setDevice() {
        $.ajax({
            url: "/api/set",
            type: "post",
            data: {
                ac_status: ac_status,
                led1_status: led1_status,
                led2_status: led2_status,
                led3_status: led3_status
            },
            dataType: "JSON",
            success: function (res) {
                if (res.status === 'ok') {
                    console.log("transfer success");
                } else {
                    alert(res.msg);
                }
            }
        })
    }

    function addSystemRuntime() {
        $(".system_runtime").each(function () {
            $(this).text(system_run_time + "秒")
            system_run_time++;
        })
    }

    function showLog() {
        $(document).ready(function () {
            $.ajax({
                url: "/api/history",
                method: "GET",
                dataType: "JSON",
                success: function (data) {
                    // 清空表格
                    $("#log thead").empty();
                    $("#log tbody").empty();

                    var head = "<tr>" +
                        "<th>ID</th>" +
                        "<th>时间</th>" +
                        "<th>LED_1</th>" +
                        "<th>LED_2</th>" +
                        "<th>LED_3</th>" +
                        "<th>AC</th>" +
                        "<th>温度</th>" +
                        "<th>光强</th>" +
                        "</tr>";

                    $("#log").append(head);

                    // 遍历每个日志对象
                    data.forEach(function (log) {
                        // 创建表格行并追加到表格中
                        var row = "<tr>" +
                            "<td>" + log.lid + "</td>" +
                            "<td>" + log.create_time + "</td>" +
                            "<td>" + (log.led_1_status ? '开' : '关') + "</td>" +
                            "<td>" + (log.led_2_status ? '开' : '关') + "</td>" +
                            "<td>" + (log.led_3_status ? '开' : '关') + "</td>" +
                            "<td>" + (log.ac_status ? '开' : '关') + "</td>" +
                            "<td>" + log.temperature + " ℃</td>" +
                            "<td>" + log.humidity + " Lux</td>" +
                            "</tr>";

                        $("#log").append(row);
                    });
                }
            });
        });
    }

    setInterval(function () {
        addSystemRuntime();
        updateEChart();
        showLog();
        setDevice();
    }, 1000)
</script>
</body>
</html>